body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  background-color: rgb(221, 255, 221);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

pre{
  text-align: left;
  color: red;
}

.invitation-container {
  padding: 40px;
  text-align: center;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 8px;
}

h1 {
  /* font-size: 2.5rem; */
  color: #8b5a2b;
  /* margin-bottom: 20px; */
  /* font-weight: 700; */
}

p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.divider {
  height: 1px;
  background: linear-gradient(to right, transparent, #d4a76a, transparent);
  margin: 30px auto;
  width: 80%;
}

h2 {
  font-size: 1.8rem;
  color: #8b5a2b;
  margin-bottom: 20px;
  font-weight: 600;
}

.invitation-text {
  font-style: italic;
  font-size: 1.2rem;
}


.chida 
{
  color: blue !important;
}